@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    height: 100vh;
    background: #212529;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}

.navbar h2{
    color: #6cc070;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: #dddddd;
    font-size: 16px;
    margin-right: 25px;
    transition: color 0.3s ease;
}

.navbar ul li:hover a{
    color: 	#6cc070;
}

.navbar ul li:last-child a{
    margin: 0;
}

.hire-btn{
    background-color: 	#ff6633;
    padding: 6px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.hire-btn:hover{
    background: #fc774bd5;
    transform: scale(1.1);
    color: #dddddd;
}

.main{
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main h4{
    font-size: 32px;
    color: #dddddd;
    font-weight: 600;
}

.main h4 span{
    color: #6cc070;
    text-decoration: underline;
}

.main p.title{
    font-size: 44px;
    font-weight: 600;
    color: #fff;
    margin-top: 9px;
}

.main p.subtitle  {
    font-size: 16px;
    color: #969696;
    margin-top: 20px;
}

.main img{
    width: 260px;
    height: 200px;
    margin-top: 100px;
}

.guarantee{
    margin-top: 50px;
    padding: 0 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}

.guarantee .item{
    background-color: #21252e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    padding: 0 30px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.guarantee .item:hover{
    border-color: #ff6633;
}

.guarantee .item .icon{
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.guarantee .item:hover .icon{
    background-color: #ff6633;
}

.guarantee .item .icon i{
    font-size: 30px;
}

.guarantee .item .info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guarantee .item .info h3{
    color: #ff6633;
    font-size: 28px;
}

.guarantee .item .info p{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.guarantee .item > i{
    color: #fff;
    font-size: 30px;
    transition: color 0.3s ease;
}

.guarantee .item:hover > i{
    color: #ff6633;
}

.separator{
    margin: 50px 50px 30px;
    padding: 10px 20px;
    background: rgba(255,255,255,0.08);
    display: inline-block;
    color: #ff6633;
    border-radius: 12px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding:  0 50px;
}

.about img{
    width: 280px;
    border-radius: 50%;
}

.about .info h3{
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .info p{
    color: #ccc;
    font-size: 14px;
}

.skills{
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
}

.skills .left{
    width: 680px;
}

.skills .left .info h3{
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}

.skills .left .info p{
    color: #ccc;
    font-size: 14px;
}

.skills .left button{
    margin-top: 30px;
}

.skills .right{
    width: 420px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.skills .right .item{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #383e45;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.skills .right .item i{
    font-size: 36px;
    color: #ccc;
}

footer{
    position: relative;
    background: #1c1c1c;
    padding: 80px 50px 40px;
    margin-top: 100px;
}

footer .cols{
    display: flex;
    align-items: start;
}

footer .cols .about-cols{
    flex: 3;
}

footer .cols .about-cols h3{
    color: #ff6633;
    margin-bottom: 20px;
}

footer .cols .about-cols p{
    color: #ccc;
    font-size: 13px;
}

footer .cols .links-cols{
    flex: 3;
}

footer .cols .links-cols h4,
footer .cols .contact-section h4{
    color: #fff;
    margin-bottom: 20px;
}

footer .cols .links-cols a{
    display: block;
    text-decoration: none;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 26px;
    transition: color 0.3s ease;
}

footer .cols .links-cols a:hover{
    color: #ff6633;
}

footer .cols .contact-section{
    flex: 3;
}

footer .cols .contact-section {
    color: #7b7b7b;
    font-size: 15px;
}

footer .cols .contact-section form{
    width: 100%;
    margin-top: 20px;
    position: relative;
}

footer .cols .contact-section form input{
    width: 100%;
    background: #212529;
    border: none;
    border-radius: 100px;
    font-weight: 400;
    font-size: 13px;
    padding: 10px;
}

footer .cols .contact-section form button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: none;
    background: #ff6633;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer .cols .contact-section form button:hover{
    background-color: #ff6600;
    transform: scale(1.1);
    transition: all 2 ease;
}

footer .cols .contact-section form button i{
    font-size: 32px;
}

@media screen and (max-width: 1100px){
    .guarantee {
        flex-wrap: wrap;
        gap: 10px;
    }

    .guarantee .item{
        flex-basis: 49%;
    }

    .skills .left{
        width: 400px;
    }

    .skills .left .info h3{
        font-size: 22px;
    }
}

@media screen and (max-width: 780px) {
    .navbar button{
        display: none;
    }

    .main h4{
        font-size: 24px;
    }

    .main p.title{
        font-size: 36px;
    }

    .main p.subtitle{
        font-size: 14px;
    }

    .guarantee .item{
        flex-basis: 100%;
    }

    .about {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {

    .navbar {
        justify-content: center;
    }

    .navbar h2{
        display: none;
    }

    .navbar ul li a{
        font-size: 14px;
    }

    .main {
        margin-top: 50px;
        height: 320px;
        justify-content: start;
    }

    .main h4{
        font-size: 20px;
    }

    .main p.title{
        font-size: 28px;
    }

    .main p.subtitle{
        font-size: 10px;
    }

    .main img{
        margin-top: 40px;
        width: 150px;
        height: 120px;
    }

    .skills{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .skills .right{
        gap: 20px;
        margin-top: 20px;
    }


    footer .cols{
        flex-basis: 100%;
        margin-bottom: 40px;
        flex-direction: column;
    }

}